@{
    ViewData["Title"] = "O mnie";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Cześć, jestem Norbert i mam 21 lat. Uczę się właśnie ASP.NET Core MVC ;) Strasznie to pokręcone.</p>
