@{
    ViewData["Title"] = "Wylogowano";
}

<h3>Poprawnie wylogowano</h3>

Możesz teraz bezpiecznie zamknąć stronę lub <a asp-area="" asp-controller="User" asp-action="Login">zalogować się ponownie</a>.