@model ErrorViewModel
@{
  ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd!</h1>
<h2 class="text-danger">Wystąpił jakiś dziwny błąd, którego nie potrafimy obsłużyć :c</h2>

@if (Model.ShowRequestId)
{
  <p>
    <strong>ID zapytania:</strong> <code>@Model.RequestId</code>
  </p>
}