@{
    ViewData["Title"] = "O projekcie";
}
<h2>@ViewData["Title"]</h2>

<p>Cześć, jestem Norbert i mam 21 lat. Uczę się właśnie ASP.NET Core MVC ;) A ten projekt jest w ramach nauki oraz przy okazji ma być pożyteczny.</p>
<p>Projekt jest Open Source i cały jego kod źródłowy jest dostępny na moim <a href="https://github.com/norberto5/Rozkaz">GitHubie</a>. Jeżeli ktoś z branży chciałby ulepszyć projekt lub zgłosić 
jakieś błędy to zapraszam właśnie tam. A jeżeli nie wiesz o czym mówię to po prostu napisz na maila jeżeli masz jakieś pomysły albo sugestie.</p>
