@{
  ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

W razie jakichkolwiek pytań, błędów lub sugestii piszcie na maila ;)<br /><br />

<address>
  <strong>E-mail oficjalny:</strong> <a href="mailto:norbert.piatkowski@zhp.net.pl">norbert.piatkowski@zhp.net.pl</a><br />
  <strong>E-mail prywatny:</strong> <a href="mailto:admin@norberto5.pl">admin@norberto5.pl</a><br />
</address>
