@{
  ViewData["Title"] = "Strona główna";
}
<h2>@ViewData["Title"]</h2>

<p>
  <a role="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SampleOrder"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Wyświetl przykładowy rozkaz</a>
</p>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Zaloguj się!</h3>
  </div>
  <div class="panel-body">
    Opcje są dostępne po <a asp-area="" asp-controller="User" asp-action="Login">zalogowaniu się</a> poprzez konto Microsoft Office 365 Związku Harcerstwa Polskiego, które jest darmowe dla każdego członka Związku.
  </div>
</div>