@{
    ViewData["Title"] = "Tworzenie rozkazu";
}
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Tworzenie rozkazów w budowie.
</div>